PRIVATE_KEY=0xyourkey
ARC_TESTNET_RPC=https://rpc.testnet.arc.network
USDC_ADDRESS=0x3600000000000000000000000000000000000000
PAYER_KEY=0xyourpayerkey
ORACLE_KEY=0xyouroraclekey
ATTESTOR1_KEY=0xyourattestor1key
ATTESTOR2_KEY=0xyourattestor2key
ATTESTOR3_KEY=0xyourattestor3key
COV_ADDRESS=0xyourdeployedcovenantaddress
EXPLORER_BASE=https://testnet.arcscan.app
